.Sidebarbutton {
    position: absolute;
    right: -18px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: ${(props) => props.theme.bgtgderecha};
    box-shadow: 0 0 4px ${(props) => props.theme.bg3}, 0 0 7px ${(props) => props.theme.bg};
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    transform: ${({ isOpen }) => (isOpen ? `initial` : `rotate(180deg)`)};
    border: none;
    letter-spacing: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: 0;
    font-family: inherit;
    outline: none;
  }
  
  .Logocontent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: ${v.lgSpacing};
  }
  
  .Logocontent .imgcontent {
    display: flex;
  }
  
  .Logocontent .imgcontent img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s;
    transform: ${({ isOpen }) => (isOpen ? `scale(0.7)` : `scale(1.5)`)};
  }
  
  .Logocontent h2 {
    display: ${({ isOpen }) => (isOpen ? `block` : `none`)};
  }
  
  .LinkContainer {
    margin: 8px 0;
    padding: 0 15%;
  }
  
  .LinkContainer:hover {
    background: ${(props) => props.theme.bg3};
  }
  
  .LinkContainer .Links {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    text-decoration: none;
    padding: calc(${v.smSpacing}-2px) 0;
    color: ${(props) => props.theme.text};
    height: 50px;
    outline: none;
  }
  
  .LinkContainer .Links .Linkicon {
    padding: ${v.smSpacing} ${v.mdSpacing};
    display: flex;
  }
  
  .LinkContainer .Links.active .Linkicon svg {
    color: ${(props) => props.theme.bg4};
  }